django
bleach
django-bleach>=3.1
djangorestframework
markdown
deploymentutils
fair_debate_md
pytest
pytest-django
packaging
python-slugify
demjson3
linkify-it-py
sphinx
sphinxcontrib-plantuml
myst-parser
