


.rendered_content_preview {
    border: 1px solid #ce9a5e;
    padding: 1em;
    margin-bottom: 1em;
}

/* select the h3 immediately before the preview */

h3:has(+ .rendered_content_preview) {
    margin-bottom: 0.1em;
}



/* for the main textarea */
.ta-container {
    width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
  }

  .custom-textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    padding: 10px;
    min-height: 100px;
    resize: vertical; /* Allows vertical resizing */
  }


/* for the buttons below the textarea */

.button-container {
      display: flex;
      justify-content: flex-end;
      gap: 1em;
    }
.button-container button  {
    margin-top: 0.5em;
}

#second_sticky_bar h2 {
  display: inline-block;
  background-color: red;
}

#seg_id_display_span {
  display: inline-block;
}


.segment {
  background-color: hsla(28, 100%, 73%, 10%);
}

.segment + .segment {
  margin-left: 0.2em;
}

.segment:hover, .segment:active, .segment:target,
.segment:hover code, .segment:active code, .segment:target code{
    background-color: #ffbd71;
}

/* Small squares to indicate the presence of positive or negative comments */

.sqp1::after,
.sqn2::after {
  content: '';
  position: relative;
  display: inline-block;
  top: -0.7em;
  right: 0;
  width: 3px;
  height: 3px;
}

.sqp::after {
  background-color: hsla(90, 100%, 35%, 100%);
}

.sqn::after {
  background-color: red;
}

.answer {
  display: none;
  margin-left: 0.5em;
  padding: 0.1em;
}
.answer p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.answer.level1,
.answer.level3,
.answer.level5,
.answer.level7,
.answer.level9
{
  background-color:hsla(220, 100%, 90%, 100%);
}

 .answer.level2,
 .answer.level4,
 .answer.level6,
 .answer.level8,
 .answer.level10
 {
  background-color:hsla(220, 100%, 97%, 100%);
}
