


.rendered_content_preview {
    border: 1px solid #ce9a5e;
    padding: 1em;
    margin-bottom: 1em;
}

/* select the h3 immediately before the preview */

h3:has(+ .rendered_content_preview) {
    margin-bottom: 0.1em;
}



/* for the main textarea */
.ta-container {
    width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
  }

  .custom-textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    padding: 10px;
    min-height: 100px;
    resize: vertical; /* Allows vertical resizing */
  }


/* for the buttons below the textarea */

.button-container {
      display: flex;
      justify-content: flex-end;
      gap: 1em;
    }
.button-container button  {
    margin-top: 0.5em;
}

.segment:hover, .segment:active, .segment:target,
.segment:hover code, .segment:active code, .segment:target code{
    background-color: #ffbd71;
}
