{% extends "base/base.html" %}
{% load bleach_tags %}
{% load extra_filters %}


{% block title %}{{data.debate_title}}{{ block.super }}{% endblock %}


{% block main_class %}main {{data.main_class}}{% endblock %}

{% block content %}
<!-- {{data.unit_test_comment}} -->

<div id="second_sticky_bar">
    <span id="debate_title">
        <h2>{{data.debate_title}}</h2>
        <span class="clickable_span" title="copy url to clipboard" onclick="copyFullURL()">&#x1F517;</span>
        {% if data.num_answers %}
        <span>({{ data.num_answers }}
            {% if data.num_answers == 1 %}
                answer)
            {% else %}
                answers)
            {% endif %}
        </span>
        {% endif %}
    </span>
    <div style="display: block;">
        <div id="seg_id_display"></div>
        {% if data.user_role %}
        <div id="user_role_display">{{ data.user_role }}</div>
        {% endif %}
        {% if data.num_answers %}
        <div id="fold_button_display">
            <div id="btn_hide_level" class="boxed clickable_span" onclick="hideCurrentContributionLevel()">&laquo;</div>
            <div id="btn_show_level" class="boxed clickable_span" onclick="showNextContributionLevel()">&raquo;</div>
        </div>
        {% endif %}
    </div>
</div>

{% if data.segmented_html %}
<!-- utc_segmented_html -->
<div class="rendered_content">
    {{data.segmented_html|bleach}}
</div>
{% endif %}

{% if data.num_db_ctbs %}
<div id="bottom_toolbar">
    <div class="_text">
        {% if data.num_db_ctbs == 1 %}
            You have {{ data.num_db_ctbs }} uncommitted contribution.
        {% else %}
            You have {{ data.num_db_ctbs }} uncommitted contributions.
        {% endif %}
    </div>
    <div class="button-container">
        <button id="btn_show_all_ctbs" class="_commit_button" type="button" title="Ensure that all uncommitted contributions are shown (some might be hidden).">
            Show all
        </button>
        <button id="btn_commit_all_ctbs" class="_commit_button" type="button">Commit all</button>
    </div>
</div>
{% endif %}

{% endblock %} {# end of content #}


{% block templates_and_data %}

{{ csrf_token.format|json_script:"data-csrf_token" }}
{{ data.user_role|json_script:"data-user_role" }}
{{ data.api_data|json_script:"data-api_data" }}
{{ request.path|json_script:"data-action_url" }}
{{ data.num_db_ctbs|json_script:"data-num_db_ctbs" }}
{{ data.num_answers|json_script:"data-num_answers" }}
{{ data.deepest_level|json_script:"data-deepest_level" }}


<template id="segment_contribution_form_template">
    <div id="__segment_contribution_form_container_id" class="segment_contribution_form_container ta-container">
        <div class="not_logged_in_warning"> {#<!-- class 'hidden' will be added by js if user is authenticated -->#}
            Warning: you are not logged and thus will not be able to save your contribution.
        </div>
        <form id="__segment_contribution_form_id" action="{{ request.path }}" method="POST">
            {% csrf_token %}
            <input class="_reference_segment" type="hidden" name="reference_segment" value="">
            <input type="hidden" name="debate_key" value="{{data.debate_key}}">
            <textarea class="custom-textarea" placeholder="Insert your contribution here. Use markdown for styling." name="__contribution_content_name"></textarea>
            <div class="button-container">
                <button class="_cancel_button" type="button">Cancel</button>
                <button class="_submit_button" type="submit" disabled="true">Submit</button>
            </div>
        </form>
    </div>
</template>

<template id="segment_contribution_hint">
    <div id="__segment_contribution_hint_container_id" class="segment_contribution_hint_container">
        <div class="segment_contribution_hint">
            You cannot answer here!
        </div>
        <div class="button-container">
            <button class="_ok_button" type="button">OK</button>
        </div>
    </div>
</template>

<template id="_UCCtbSeparatorTemplate">
    <div class="contribution_form_separator">
        <div class="_text">
        </div>
        <div class="button-container">
            <button class="_edit_button" type="button">Edit</button>
            <button class="_delete_button" type="button">Delete</button>
            <button class="_commit_button" type="button">Commit</button>
        </div>
    </div>
</template>

{% endblock %}

{% block main_script %}

<script>
window.onload = onLoadForShowDebatePage;
</script>

{% endblock %}
