{% extends "base/base.html" %}
{% load bleach_tags %}
{% load extra_filters %}


{% block title %}New Debate{{ block.super }}{% endblock %}


{% block main_class %}main {{data.main_class}}{% endblock %}

{% block content %}
<!-- {{data.unit_test_comment}} -->

<h2>New Debate</h2>

{% if data.segmented_html %}
<!-- utc_segmented_html -->
<h3>Preview</h3>
    <div class="rendered_content_preview">
        {{data.segmented_html|bleach}}
    </div>
{% endif %}

<div class="ta-container">
    <form id="new-debate-form" action="{{ request.path }}" method="POST">
        {% csrf_token %}
        <textarea class="custom-textarea" placeholder="Add markdown source here." name="body_content">{{ data.md_with_keys }}</textarea>
        <div class="button-container">
            <button type="button" onclick="window.history.back();">Cancel</button>
            <button id="id_submit" type="submit">{{ data.submit_label }}</button>
        </div>
     </form>

</div>

{% endblock %}
