{% extends "base/base.html" %}
{% load bleach_tags %}
{% load extra_filters %}


{% block title %}New Debate{{ block.super }}{% endblock %}


{% block main_class %}main {{data.main_class}}{% endblock %}

{% block content %}
<!-- {{data.unit_test_comment}} -->

<h2>New Debate</h2>

{% if data.segmented_html %}
<!-- utc_segmented_html -->
<h3>Preview</h3>
    <div class="rendered_content_preview">
        {{data.segmented_html|bleach}}
    </div>
{% endif %}

<div class="ta-container">
    <form id="new-debate-form" action="{{ request.path }}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="slug" id="debate_slug_input" name="debate_slug"><br><br>
        <textarea id="new-debate-body-ta" class="custom-textarea" placeholder="Add markdown source here." name="body">{{ data.plain_md }}</textarea>
        <div class="button-container">
            <button type="button" onclick="window.history.back();">Cancel</button>
            <button id="new-debate-submit-btn" type="submit">Submit (Preview)</button>
        </div>
     </form>

</div>

{% endblock %}
