{% extends "base/base.html" %}
{% load bleach_tags %}
{% load extra_filters %}


{% block title %}New Debate{{ block.super }}{% endblock %}


{% block main_class %}main {{data.main_class}}{% endblock %}

{% block content %}

<h2>New Debate</h2>

<!-- {{data.unit_test_comment}} -->
<div class="ta-container">

    <form id="new-debate-form" method="POST">
        {% csrf_token %}
        <textarea class="custom-textarea" placeholder="Add markdown source here."></textarea>
        <div class="button-container">
            <button type="button" onclick="window.history.back();">Cancel</button>
            <button id="id_submit" type="submit">Submit</button>
        </div>
     </form>

</div>

{% endblock %}
