{% extends "base/base.html" %}
{% load bleach_tags %}
{% load extra_filters %}


{% block title %}{{data.debate_title}}{{ block.super }}{% endblock %}


{% block main_class %}main {{data.main_class}}{% endblock %}

{% block content %}
<!-- {{data.unit_test_comment}} -->

<div id="second_sticky_bar">
    <h2 id="debate_title">{{data.debate_title}}</h2>
    <div style="display: block;">
        <div id="seg_id_display"></div>
        {% if data.user_role %}
            <div id="user_role_display">{{ data.user_role }}</div>
        {% endif %}
    </div>
</div>

{% if data.segmented_html %}
<!-- utc_segmented_html -->
<div class="rendered_content_preview">
    {{data.segmented_html|bleach}}
</div>
{% endif %}


{% endblock %}


{% block templates_and_data %}

{{ csrf_token.format|json_script:"data-csrf_token" }}
{{ data.user_role|json_script:"data-user_role" }}
{{ data.api_data|json_script:"data-api_data" }}
{{ request.path|json_script:"data-action_url" }}


<template id="segment_answer_form_template">
    <div id="__segment_answer_form_container_id" class="segment_answer_form_container ta-container">
        <div class="not_logged_in_warning"> {#<!-- class 'hidden' will be added by js if user is authenticated -->#}
            Warning: you are not logged and thus will not be able to save your contribution.
        </div>
        <form id="__segment_answer_form_id" action="{{ request.path }}" method="POST">
            {% csrf_token %}
            <input class="_reference_segment" type="hidden" name="reference_segment" value="">
            <input type="hidden" name="debate_key" value="{{data.debate_key}}">
            <textarea class="custom-textarea" placeholder="Insert your answer here. Use markdown for styling." name="__answer_content_name"></textarea>
            <div class="button-container">
                <button class="_cancel_button" type="button">Cancel</button>
                <button class="_submit_button" type="submit">Submit</button>
            </div>
        </form>
    </div>
</template>

<template id="segment_answer_hint">
    <div id="__segment_answer_hint_container_id" class="segment_answer_hint_container">
        <div class="segment_answer_hint">
            You cannot answer here!
        </div>
        <div class="button-container">
            <button class="_ok_button" type="button">OK</button>
        </div>
    </div>
</template>

<template id="_UCCtbSeparatorTemplate">
    <div class="answer_form_separator">
        <div class="_text">
        </div>
        <div class="button-container">
            <button class="_edit_button" type="button">Edit</button>
            <button class="_delete_button" type="button">Delete</button>
            <button class="_commit_button" type="button">Commit</button>
        </div>
    </div>
</template>

{% endblock %}

{% block main_script %}

<script>
window.onload = onLoadForShowDebatePage;
</script>

{% endblock %}
