{% extends "base/base.html" %}
{% load bleach_tags %}
{% load extra_filters %}


{% block title %}{{data.debate_title}}{{ block.super }}{% endblock %}


{% block main_class %}main {{data.main_class}}{% endblock %}

{% block content %}
<!-- {{data.unit_test_comment}} -->

<div id="second_sticky_bar">
    <h2 id="debate_title">{{data.debate_title}}</h2>
    <div id="seg_id_display">XYZ</div>
</div>

{% if data.segmented_html %}
<!-- utc_segmented_html -->
<div class="rendered_content_preview">
    {{data.segmented_html|bleach}}
</div>
{% endif %}


{% endblock %}



{% block templates %}
<template id="segment_answer_form_template">
    <div class="segment_answer_form ta-container">
        <form id="__segment_answer_form_id" action="{{ request.path }}" method="POST">
            {% csrf_token %}
            <input class="_reference_segment" type="hidden" name="reference_segment" value="">
            <textarea class="custom-textarea" placeholder="Add markdown source here." name="__answer_content_name"></textarea>
            <div class="button-container">
                <button class="_cancel_button" type="button">Cancel</button>
                <button type="submit">Submit</button>
            </div>
         </form>
    </div>
</template>
{% endblock %}

{% block main_script %}

<script>
window.onload = onLoadForShowDebatePage;
console.log("main script executed");
</script>

{% endblock %}
